<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="../styles/css/jquery-ui.css">
<link rel="stylesheet" href="../styles/css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="../scripts/libs/jquery.js"></script>
<script src="../scripts/libs/jquery-ui.js"></script>
<script src="../scripts/libs/jquery.onShow.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="../scripts/libs/lodash.js"></script>
<script src="../scripts/background.Full.js"></script>
<script src="../scripts/lib/jquery.GameHunters.js"></script>

<style>
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  </style>
</head>
<body>

<div id="AppTabs" class="App">
	<ul>
		<li><a href="#HomeTab">Home</a></li>
		<li><a href="#FacebookTab">Facebook</a></li>
		<li><a href="#GameHuntersTab">Game Hunters</a></li>
		<li><a href="#CollectorTab">Collector</a></li>
		<li><a href="#SettingsTab">Settings</a></li>
	</ul>
	<div id="HomeTab" class="TabPanel">
		
	</div>
	<div id="FacebookTab" class="TabPanel">
		
	</div>
	<div id="GameHuntersTab" class="TabPanel">
		<div id="GameHuntersTabs" class="App">
			<ul>
				<li><a href="#GHHomeTab">Home</a></li>
				<li><a href="#GHBingoBlitzTab">Bingo Blitz</a></li>
				<li><a href="#GHCaesarsTab">Caesars</a></li>
				<li><a href="#GHHouseOfFunTab">House Of Fun</a></li>
				<li><a href="#GHSlotomaniaTab">Slotomania</a></li>
				<li><a href="#GHVegasWordsTab">Vegas Words</a></li>
				<li><a href="#GHWSOPTab">WSOP</a></li>
			</ul>	
			<div id="GHHomeTab" class="TabPanel"></div>
			<div id="GHBingoBlitzTab" class="TabPanel"></div>
			<div id="GHCaesarsTab" class="TabPanel"></div>
			<div id="GHHouseOfFunTab" class="TabPanel"></div>
			<div id="GHSlotomaniaTab" class="TabPanel"></div>
			<div id="GHVegasWordsTab" class="TabPanel"></div>
			<div id="GHWSOPTab" class="TabPanel"></div>
		</div>
	</div>
	<div id="CollectorTab" class="TabPanel">
		<div id="CollectorTabNav" class="App">
		<ul>
			<li><a href="#Collector-Home-Tab">Home</a></li>
			<li><a href="#Collector-BingoBlitz-Tab">Bingo Blitz</a></li>
			<li><a href="#Collector-Caesars-Tab">Caesars</a></li>
			<li><a href="#Collector-HouseOfFun-Tab">House Of Fun</a></li>
			<li><a href="#Collector-Slotomania-Tab">Slotomania</a></li>
			<li><a href="#Collector-VegasWords-Tab">Vegas Words</a></li>
			<li><a href="#Collector-WSOP-Tab">WSOP</a></li>
		</ul>	
		<div id="Collector-Home-Tab" class="TabPanel"></div>
		<div id="Collector-BingoBlitz-Tab" class="TabPanel"></div>
		<div id="Collector-Caesars-Tab" class="TabPanel"></div>
		<div id="Collector-HouseOfFun-Tab" class="TabPanel"></div>
		<div id="Collector-Slotomania-Tab" class="TabPanel">
			<div id="Collector-Slotomania-Nav" class="App">
			<ul class="nav nav-tabs nav-justified">
				<li><a href="#Collector-Slotomania-FanPage-Tab">Fan Page Posts</a></li>
				<li><a href="#Collector-Slotomania-User-Tab">User Share Posts</a></li>
			</ul>			
			<div id="Collector-Slotomania-FanPage-Tab" class="TabPanel"></div>
			<div id="Collector-Slotomania-User-Tab" class="TabPanel"></div>

		</div>
		<div id="Collector-VegasWords-Tab" class="TabPanel"></div>
		<div id="Collector-WSOP-Tab" class="TabPanel"></div>

	</div>
	<div id="SettingsTab" class="TabPanel">
		
	</div>
</div>


<!-- Templates -->

<script type="text/template" id="lodash__FacebookTabPanel" nonce>
	<div id="FacebookTabs">
		<ul>
			<li><a href="#FacebookXTractorTab_Main">Main<%- i %></a></li>
	<% for (var i=0; i<xtractorCount; i++) { %>
			<li><a href="#FacebookXTractorTab_<%- i %>">XTractor <%- i %></a></li>
	 <% } %>
		</ul>
		<div id="FacebookXTractorTab_Main" class="TabPanel">
			<form>
				<select class="Action">
					<option selected value="Facebook.XTract.Posts">Posts</option>
					<option value="Facebook.XTract.Summary">Summaries</option>
					<option value="Facebook.XTract.Friends">Friends</option>
				</select>
				<button type="button" class="ui-button ui-widget ui-corner-all GetUrls" >Get Urls</button>
				<button type="button" class="ui-button ui-widget ui-corner-all Execute">Execute</button>
				<button type="button" class="ui-button ui-widget ui-corner-all Stop">Stop</button>
				<br>
				<textarea class="Urls" name="Urls"></textarea>
		</div>
	<% for (var i=0; i<xtractorCount; i++) { %>
		<div id="FacebookXTractorTab_<%- i %>" class="TabPanel">
			<iframe class="XTractorFrame" src="home.html"></iframe>
		</div>
	 <% } %>
	</div>
</script>

</body>
</html>
