<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Collector -> Slotomania</title>
<link rel="stylesheet" href="../styles/css/jquery-ui.css">
<link rel="stylesheet" href="../styles/css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="../scripts/libs/jquery.js"></script>
<script src="../scripts/libs/jquery-ui.js"></script>
<script src="../scripts/libs/jquery.onShow.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../scripts/libs/lodash.js"></script>
<script src="../scripts/lib/Collector.Slotomania.js"></script>

</head>
<body>

<form id="Collector-Slotomania" class="Collector">
<div id="App" class="App TabLayout">
	<ul>
		<li><a href="#Collector-Slotomania-ControlPanel">Control Panel</a></li>
		<li><a href="#Collector-Slotomania-Worker-1">Worker 1</a></li>
		<li><a href="#Collector-Slotomania-Worker-2">Worker 2</a></li>
		<li><a href="#Collector-Slotomania-Worker-3">Worker 3</a></li>
		<li><a href="#Collector-Slotomania-Worker-4">Worker 4</a></li>
	</ul>
	<div id="Collector-Slotomania-ControlPanel" class="TabPanel">
		<textarea class="Collector-Urls"></textarea>
	</div>
	<div id="Collector-Slotomania-Worker-1" class="TabPanel">
		<iframe class="Worker Collector" src="home.html"></iframe>		
	</div>
	<div id="Collector-Slotomania-Worker-2" class="TabPanel">
		<iframe class="Worker Collector" src="home.html"></iframe>
	</div>
	<div id="Collector-Slotomania-Worker-3" class="TabPanel">
		<iframe class="Worker Collector" src="home.html"></iframe>
	</div>
	<div id="Collector-Slotomania-Worker-4" class="TabPanel">
		<iframe class="Worker Collector" src="home.html"></iframe>
	</div>
</div>
</form>


</body>
</html>
