<!doctype html>
<html>
<head>
<title>TTS Tools Extension</title>

<link rel="stylesheet" type="text/css" href="../css/styles.css">

<script src="../js/lib/jquery.js"></script>
<script src="../js/popup.js"></script>

</head>

<body>
	<div id="ButtonDashboard">
		<div class="ButtonPanel">
			<button id="Button_XTractPosts">XTract (Posts)</button>
			<button id="ButtonXTractFriends">XTract (Friends)</button>
			<button id="Buton_XTractSummary">XTract (Summary)</button>
		</div>
		<div class="ButtonPanel">
			<button id="Buton_Scroll_Count">Scroll (Count)</button>
			<button id="Buton_Scroll_Days">Scroll (Days)</button>
			<button id="Buton_Scroll_Date">Scroll (Date)</button>
		</div>
		<div class="ButtonPanel">
			<button id="">...</button>
			<button id="">...</button>
			<button id="">...</button>
		</div>
		<div class="ButtonPanel">
			<button id="">...</button>
			<button id="TestButton">Test</button>
			<button id="ClearButton">Clear</button>
		</div>
	</div>

	<div id="StatusPanel">
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
		now now brown cow...
	</div>

</body>
</html>
